body {
  margin:0;
  font-family: Arial;
  background:#0f0f0f;
  color:white;
}

header {
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:black;
}

.hero {
  text-align:center;
  padding:40px;
  background:linear-gradient(45deg,#ff6a00,#ff0000);
}

.produtos {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.card {
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

.card button {
  background:#ff6a00;
  border:none;
  padding:10px;
  cursor:pointer;
  color:white;
}

.cart {
  position:fixed;
  right:-400px;
  top:0;
  width:300px;
  height:100%;
  background:#111;
  padding:20px;
  transition:0.3s;
  overflow:auto;
}

.cart.open {
  right:0;
}

.whatsapp {
  position:fixed;
  bottom:20px;
  right:20px;
  background:green;
  padding:15px;
  border-radius:50%;
  text-decoration:none;
  color:white;
}
